<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral"/>
  </configSections>
    <appSettings>
        <add key="CaminhoXmlEai" value="instale isso: http://visualstudiogallery.msdn.microsoft.com/69023d00-a4f9-4a34-a6cd-7e854ba318b5" />
        <add key="CaminhoServidorEai" value="instale isso: http://visualstudiogallery.msdn.microsoft.com/69023d00-a4f9-4a34-a6cd-7e854ba318b5" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="CaminhoLogServicoFaturamento" value="" />
        <add key="ServidorEmail" value="SEC043.shcnet.com.br" />
        <add key="EmailEnvio" value="r2d2@shcnet.com.br" />
        <add key="HabilitarChecagemPeriodica" value="true" />
        <add key="ObservarPasta" value="false" />
        <add key="EsperaEntreCiclosCompletos" value="5" />
        <add key="MaximoCaracteresParaGravarLog" value="50000" />
        <add key="EsperarAoIniciarSegundos" value="999" />
        <add key="GravarLogPorPeriodoMinutos" value="5" />
        <add key="MinutosAguardadosParaConsiderarNFNaoEncontrada" value="480" />
        <add key="NumeroExecucoesMaxima" value="300" />
        <add key="EmailAlertaErroServicoRespostaFaturamento" value="" />
        <add key="SomenteProcessarArquivo" value="" />
        <add key="hibernate.default_schema" value="Apollo.dbo" />
        <add key="pastaLog" value="..\_LOG" />
        <add key="pastaLogErro" value="..\_LOG_ERRO" />
        <add key="NumeroAmbienteSap" value="300"/>
        <add key="GravarLogNHibernate" value="false"/>
	      <add key="EnderecoServidorSap" value="Sec082"/>
    </appSettings>
    <connectionStrings>
        <!--A APLICACAO VAI PEGAR CONFORME O ARQUIVO DE TRANSFORMATION DO ARQUIVO DE CONFIGURACAO (APP.CONFIG). EX: app.Debug.Config -->
        <add name="ConnectionString" connectionString="instale isso: http://visualstudiogallery.msdn.microsoft.com/69023d00-a4f9-4a34-a6cd-7e854ba318b5" providerName="System.Data.SqlClient" />
        <add name="DbEaiBaseConsulta" connectionString="Data Source=sec070;Initial Catalog=DBEAI;Integrated Security=False;User=eaiapp;Password=eaiapp" providerName="System.Data.SqlClient"/>
        <!--<add name="IntegracaoConnectionString" connectionString="Database=DBSHCJG;Server=DBDEVSHC;Integrated Security=False;User ID=foapp;Password=fopwd;Connection Timeout=60;Max Pool Size=400" providerName="System.Data.SqlClient" />-->

      <add name="IntegracaoConnectionString" connectionString="Database=DBSHCCE_FO;Server=SEC009;Integrated Security=False;User ID=foapp;Password=##fo$ce;Connection Timeout=60;Max Pool Size=400" providerName="System.Data.SqlClient" />
      
    </connectionStrings>
    <dataConfiguration defaultDatabase="IntegracaoConnectionString"/>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Eai.Servico.ExecutarRfc" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="81920000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" />
                    </security>
                </binding>
            </wsHttpBinding>
            <basicHttpBinding>
                <binding name="BasicHttpBinding"
                    closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                    sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
                    hostNameComparisonMode="StrongWildcard" maxBufferSize="65536"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sec064/Eai.Cert/ProcessoExecutarRfcSap.xamlx" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Eai.Servico.ExecutarRfc" contract="EaiServiceReference.EaiServicoExecutarRfc" name="WSHttpBinding_Eai.Servico.ExecutarRfc" />
            <endpoint address="http://localhost/ShcWcfAjax.Bugs/Venda/ServicoIntegracaoDespachante.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" name="EndPointServicoIntegracaoDespachante"
                contract="ServicoIntegracaoDespachanteServiceReference.IServicoIntegracaoDespachante"/>
        </client>
    </system.serviceModel>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>
